@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;800&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
}

/* header-section */
.carousel-item img {
    max-height: 600px !important;
}

.carousel-item .carousel-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #2c2c2c, #000000);
    opacity: .7;
    border-radius: 5px;
}

/* .caption-items h1 {
    font-size: 64px !important;
} */


/* course-section */
.card-title {
    font-weight: 600;
    color: #4A4A4A;
}

.card-text {
    font-size: 15px;
    color: #777777;
}