@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;800&display=swap');

/* ---------------------defult-styles -----------------------*/
body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
}

p {
    font-size: 15px;
    color: #777777;
}

/* -------------------custom-styles -----------------------*/
/* header-nav-bar */
.nav-link {
    font-size: 17px !important;
    font-weight: 500 !important;
}

/* header-slider-section */
.carousel-item img {
    max-height: 600px !important;
}

.carousel-item .carousel-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #2c2c2c, #000000);
    opacity: .7;
    border-radius: 5px;
}

.caption-items-heading {
    color: #fff;
    font-size: 64px !important;
}

.caption-items-desc {
    color: #fff;
}

/* ----------------------course-section -----------------------*/
.card-title {
    font-weight: 600;
    color: #4A4A4A;
}

.card-text {
    font-size: 15px;
    color: #777777;
}

/* ----------------------deals-section -----------------------*/
#deals-section {
    background: #F4FAFD !important;
}

/* ----------------------join-section -----------------------*/
#join-section {
    background: #289BDE !important;
}

/* ------------------------footer-section--------------------- */
footer {
    background-color: #000000 !important;
}

/* -------------------media-quries ---------------------*/

@media (max-width: 991.98px) {

    /* header-slider-section */
    .caption-items-heading {
        font-size: 20px !important;
    }

    .caption-items-desc {
        color: #fff;
        font-size: 10px;
    }
}